<!-- footer -->
<footer class="border-t py-4">
    <p class=" text-sm text-center">Copyright &copy; 2022 <span class="font-semibold">CS74 2018/2022</span>
       &reg; All Rights Reserved</p>
</footer>

<!-- Firebase Script -->
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>


<!-- App Script -->
<script src="Google.js"></script>
<script src="Menu.js"></script>
</body>
</html>