<%- include('./include/header.ejs') %> 

<div class="flex justify-center">
    <div class="w-4/12 m-10 bg-gray-200 p-6 mt-52 rounded-lg ">
        <div class=" justify-center ">
            <button id="signInWithGoogle" class="bg-white rounded-3xl mb-3 text-center px-4 py-3 font-medium w-full">
                <i class="fa-brands fa-google m-3"></i><span class="m-3">Sign in with Google</span> 
            </button>
        </div>
        <div class=" justify-center ">
            <button id="signInWithGoogle" class="bg-blue-500 rounded-3xl mb-3 text-center px-4 py-3 font-medium w-full">
                <i class="fa-brands fa-twitter m-3 text-white"></i><span class="m-3 text-white">Sign in with Twitter</span> 
            </button>
        </div>
        <div class=" justify-center ">
            <button id="signInWithFaceBook" class="bg-blue-800 rounded-3xl mb-3 text-center px-4 py-3 font-medium w-full">
                <i class="fa-brands fa-facebook m-3 text-white"></i><span class="m-2 text-white">Sign in with Facebook</span> 
            </button>
        </div>
    </div>
</div>

<%- include('./include/footer.ejs') %> 